<!-- <nb-layout>
  <nb-layout-header>
    <a routerLink="/login">Login</a>
    <a routerLink="/tasks">Tasks</a>
    <a routerLink="/notifications">Notifications</a>
    <a routerLink="/analytics">Analytics</a>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
 -->
<div class="app-container">
  <!-- <header>
    <nav class="navbar">
      <a routerLink="/login"
         class="nav-link">Login</a>
      <a routerLink="/register"
         class="nav-link">Register</a>
    </nav>
  </header> -->

  <main>
    <router-outlet></router-outlet>
  </main>
</div>